.tool-details-container {
  color: #E01C48;
  max-width: 800px; /* Increased max-width for a wider container */
  margin: 90px auto 20px;
  padding: 20px;
  display: flex; /* Use Flexbox to arrange items */
  flex-wrap: wrap; /* Allow items to wrap to the next line if the container is too narrow */
}

.tool-details-container img {
  max-width: 100%;
  height: auto;
  margin-right: 20px; /* Add margin to the right of the image for spacing */
}

.tool-features,
.tool-website-link,
.tool-demo-video-links,
.tool-category,
.tool-tag,
.tool-description {
  color: #ffffff;
  flex-basis: 100%; /* Each section takes up 100% of the width initially */
  margin-top: 20px;
}

.tool-features h3,
.tool-website-link h3,
.tool-demo-video-links h3,
.tool-category h3,
.tool-tag h3,
.tool-description h3 {
  color: #ffffff;
}

.tool-features p,
.tool-demo-video-links p,
.tool-tag p,
.tool-description p {
  color: #ffffff;
}

.tool-website-link a {
  color: #ffffff;
  text-decoration: none;
}

.tool-website-link a:hover {
  text-decoration: underline;
}

.fancy-button {
  background-color: #e01c48;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: medium;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease;
}

.fancy-button:hover {
  background-color: #96162a;
}

 .fancy-button {
  margin-top: 10px;
}
.tool-demo-video-links {
  color: #ffffff;
  margin-top: 20px;
}

.tool-demo-video-links iframe {
  width: 100%; /* Make the embedded video responsive */
  height: 400px; /* Set a fixed height or adjust as needed */
}
