
<div class="category-box">
  <div class="name">
    <h1>Categorys</h1>
  </div>
</div>
<!-- display category  -->
<div class="category-box">
  <button *ngFor="let category of categories" (click)="fetchCard(category)"
    [style.background-color]="selectedCategory === category ? 'rgb(8, 154, 8)' : ''">
    {{ category }}
  </button>
</div>
<br><br>
<hr color="#E01C48" width="40%">

<div class="category-box">
  <div class="tool-name">
    <h1>Tools</h1>
  </div>
</div>

<!-- to disply tool count  -->
<div class="about-tool">
  <div class="cat-name">{{selectedCategory}}</div>
  <div class="tool-count">No of tools: {{cards.length}}</div>
</div>

<!-- cards -->
<div class="card-container" fxLayout="row wrap" fxLayout.xs="column">
  <ng-container *ngFor="let item of cards">
    <mat-card class="example-card" fxFlex="33.33%" fxFlex.xs="100%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.toolName }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ item.toolImage }}" alt="{{ item.toolName }}">
      <mat-card-content>
        <p>{{ item.toolDescription }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="custom-button" color="accent"></button>
        <a mat-raised-button color="#" [routerLink]="['/full-tool-page', item.toolName]">View</a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>