<div class="name">Category</div>
<div class="category-box">
  <button *ngFor="let category of categories" (click)="fetchCard(category)">{{ category }}</button>

</div>

<!-- <div class="card-container" fxLayout="row wrap" fxLayout.xs="column">
  <ng-container *ngFor="let item of cards">
    <mat-card class="example-card" fxFlex="33.33%" fxFlex.xs="100%">
      <mat-card-header>
       
        <mat-card-title> {{ item.toolName }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ item.toolImage }}" alt="{{ item.toolName }}" >
      <mat-card-content>
        <p>{{ item.toolDescription }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="/full-tool-page/{${item.toolName}}">View</a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div> -->
<div class="card-structure">
<div class="card" fxLayout="row wrap" fxLayout.xs="column">
  <ng-container *ngFor="let item of cards">
    <mat-card class="card-body" fxFlex="33.33%" fxFlex.xs="100%">
      <mat-card-header>
       <!-- // <div mat-card-avatar class="example-header-image"></div> -->
       <div class="name">
       <mat-card-title> {{ item.toolName }}</mat-card-title>
      </div>
      </mat-card-header>
      <img mat-card-image src="{{ item.toolImage }}" alt="{{ item.toolName }}" class="img" >
      
      <mat-card-content>
        <p>{{ item.toolDescription }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="/full-tool-page/{${item.toolName}}" class="custom-button">View</a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
</div>
 