<div class="category-box">
  <div class="name">
    Category
  </div>
</div>

<!-- Display categories -->
<div class="category-box">
  <button *ngFor="let category of categories" (click)="onCategoryClick(category)"
    [style.background-color]="selectedCategory === category ? 'rgb(8, 154, 8)' : ''">
    {{ category }}
  </button>
</div>
<br><br>
<hr color="#E01C48" width="40%">

<!-- Display selected category and tool count -->
<div class="about-tool">
  <div class="cat-name">{{ selectedCategory }}</div>
  <div class="tool-count">No of tools: {{ sortedCard.length }}</div>
</div>

<!-- Display cards -->
<div class="card-container" fxLayout="row wrap" fxLayout.xs="column">
  <ng-container *ngIf="sortedCard.length > 0; else noCards">
    <mat-card class="example-card" fxFlex="33.33%" fxFlex.xs="100%" *ngFor="let item of sortedCard">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.toolName }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ item.toolImage }}" alt="{{ item.toolName }}">
      
      <mat-card-content style="max-width: 100ch; overflow: hidden;">
        <p>{{ item.toolDescription }}</p>
      </mat-card-content>
      

      <mat-card-actions>
        <a mat-raised-button style="background-color: #212121; color: #E01C48; border-radius: 12px; " 
        [routerLink]="['/full-tool-page', item.toolName]">View</a>
      </mat-card-actions> 
    </mat-card>
  </ng-container>
</div>

<!-- No cards message -->
<ng-template #noCards>
  <div class="no-cards-message">No cards available for the selected category.</div>
</ng-template>
