<!-- <div class="name">Home page !!!!!</div> -->
<div class="trending">
  <div class="main-content">
    <div class="container-fluid">
      <div class="card card-plain">
        <div class="col-md-12">
          <div class="card-header card-header-danger">
            <!-- <h4 class="card-title">Recommended</h4> -->
            Trending
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-trending></app-trending>

<div class="main-content">
  <div class="container-fluid">
    <div class="card card-plain">
      <div class="col-md-12">
        <div class="card-header card-header-danger">
          <!-- <h4 class="card-title">Recommended</h4> -->
          Recommended
        </div>
      </div>
      </div>
  </div>
  <app-recommended></app-recommended>