
<app-trending></app-trending>
<app-recommended></app-recommended>

<!-- <div class="name">Home page !!!!!</div> -->
<div class="main-content">
  <div class="container-fluid">
    <div class="card card-plain">
      <div class="col-md-12">
        <div class="card-header card-header-danger">
          <!-- <div class="card-title">Trending</div> -->
          Trending
        </div>
        <div class="main-content">
          <div class="container-fluid">
            <div class="card card-plain">
              <div class="col-md-12">
                <div class="card-header card-header-danger">
                  <!-- <div class="card-title">Trending</div> -->
                  Trending

                </div>
              </div>
            </div>
          </div>


          <div class="column">
            <div class="card">
              <div class="card-header1">
                Eleven labs
              </div>
              <div class="card-body">
                <img
                  src="https://cdn.welcometothejungle.co/uploads/website/logo/1235/156199/eleven-labs.png"
                  alt="Card Image">
                <p>The most realistic Text to Speech and Voice Cloning software on the internet.</p>
                <button class="custom-button">View</button>
              </div>
            </div>

            <div class="card">
              <div class="card-header1">
                LOVO
              </div>
              <div class="card-body">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQIiN9Xz6zDfRQ7avWVo_gxiuc-y6S4OA3A&usqp=CAU"
                  alt="Card Image">
                <p>LOVO is an AI Voice Generator and Text-to-Speech platform that offers a wide range of realistic
                  human-like
                  voices in multiple languages.</p>
                <button class="custom-button">View</button>
              </div>
            </div>


            <div class="card">
              <div class="card-header1">
                Gamma
              </div>
              <div class="card-body">
                <img
                  src="https://cdn.gamma.app/zc87vhr30n8uf3n/18fc64afac24481780190b405e559305/optimized/gamma-logo-gif.gif"
                  alt="Card Image">
                <p>This AI tool can save you hours of work by designing and customizing an entire slide deck just by
                  writing.
                                </p>
               
                <button class="custom-button">View</button>
              </div>
            </div>
          </div>

         

                <!-- <div class="main-content">
  <div class="container-fluid">
    <div class="card card-plain"> -->
                <div class="col-md-12">
                  <div class="card-header card-header-danger">
                    <!-- <h4 class="card-title">Recommended</h4> -->
                    Recommended

                  </div>
                </div>
                <!-- </div>
  </div> -->


                <div class="row">

                  <div class="card">
                    <div class="card-header1">
                      AI Backdrop
                    </div>
                    <div class="card-body">
                      <img
                        src="https://mms.businesswire.com/media/20211117005979/en/928155/5/flouffy-CPvhE5xQ7zE-unsplash.jpg"
                        alt="your Image">
                      <p> Generate Realistic backgrounds for your product photos in seconds.</p>
                      <button class="custom-button">View</button>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header1">
                      HuggingFace QR code
                    </div>
                    <div class="card-body">
                      <img src="https://pbs.twimg.com/media/Fy76k-xWcAEViR1.png" alt="your Image">
                      <p>Generate QR code AI art just by using text in seconds.</p>
                      
                      <button class="custom-button">View</button>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header1">
                      PicFinder
                    </div>
                    <div class="card-body">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMd-_XnHuYn1NasYsFrnDvsO1sw3LfC-VH2w&usqp=CAU"
                        alt="your Image">
                      <p>An infinite image generation tool that's free forever.</p>
                      <button class="custom-button">View</button>
                    </div>
                  </div>



                  <div class="card">
                    <div class="card-header1">
                      Google's StyleDrop
                    </div>
                    <div class="card-body">
                      <img src="https://miro.medium.com/v2/resize:fit:1400/1*jiyjVzl-5UG0dSvzilQalA.png"
                        alt="Card Image">
                      <p>Text-To-Image Generation that follows a specific style of their choice given only a single
                        style reference
                        image.
                      </p>
                      <button class="custom-button">View</button>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header1">
                      Looka
                    </div>
                    <div class="card-body">
                      <img src="https://cdn.logojoy.com/wp-content/uploads/20190402110136/looka_blue.png"
                        alt="Card Image">
                      <p>Design a unique custom logo and establish a cohesive brand identity effortlessly with Looka
                        Logo Maker.</p>
                      <button class="custom-button">View</button>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header1">
                      ConversAI
                    </div>
                    <div class="card-body">
                      <img
                        src="https://play-lh.googleusercontent.com/aEGHClSPnKnqco8mxQnO_ZIWjIw8No9jOm92MNmhxcZEea1h8z6_ICZ5atL_IH0o5NXD"
                        alt="Card Image">
                      <p> The Smart Al Writing Assistant learns to write and responds like you. </p>
                      <button class="custom-button">View</button>
                    </div>
                  </div>


                  <!-- </div> -->
                  <!-- 
    <div class="row"> -->

                 
                </div>
              </div>
              

