<!-- <div class="name">Home page !!!!!</div> -->
<div class="trending">
  <div class="main-content">
    <div class="container-fluid">
      <div class="card card-plain">
        <div class="col-md-12">
          <div class="card-header card-header-danger">
            <!-- <h4 class="card-title">Recommended</h4> -->
            Trending
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-trending></app-trending>

<div class="main-content">
  <div class="container-fluid">
    <div class="card card-plain">
      <div class="col-md-12">
        <div class="card-header card-header-danger">
          <!-- <h4 class="card-title">Recommended</h4> -->
          Recommended
        </div>
      </div>
      <app-recommended></app-recommended>
      <!-- <div class="row">
          <div class="card">
            <div class="card-header1">
              AI Backdrop
            </div>
            <div class="card-body">
              <img src="https://mms.businesswire.com/media/20211117005979/en/928155/5/flouffy-CPvhE5xQ7zE-unsplash.jpg"
                alt="Card Image">
              <p> Generate Realistic backgrounds for your product photos in seconds.</p>
              <button class="custom-button">View</button>
            </div>
          </div>
        </div>
      </div>
 -->



    </div>

  </div>