<div class="card-container" fxLayout="row wrap" fxLayout.xs="column">
  <ng-container *ngFor="let item of trendingCards">
    <div class="card">
      <div class="card-body">
        <div class="card-header1">
          {{item.toolName}}
        </div>
        <img src="{{item.toolImage}}" alt="Card Image">

        <mat-card-content>
          <p>{{ item.toolDescription }}</p>
        </mat-card-content>

        <mat-card-actions>
          <div class="free-tag">{{item.pricingModel}}</div>
          <!-- <div class="top-right">{{item.pricingModel}}</div> -->

          <a mat-raised-button color="#" [routerLink]="['/full-tool-page', item.toolName]">View</a>

        </mat-card-actions>
      </div>
    </div>
  </ng-container>
</div>
