<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons Example</title>
</head> -->

<!-- <body> -->
    <div class="hello"><!-- Buttons with class 'button' for styling -->
        <button class="button">Chatbots</button>
        <button class="button">Code Assistant</button>
        <button class="button">Design</button>
        <button class="button">Educational</button>
        <button class="button">Email Assistant</button>
        <button class="button">Finance</button>
        <button class="button">Image Generator</button>
        <button class="button">Logo Generator</button>
        <button class="button">Presentation</button>
        <button class="button">Text to speech</button></div>
<!-- </body>
</html> -->

