<!-- <h2>Card</h2>
<div class="card" *ngFor="let item of card">
  <button mat-raised-button color="primary">name={{item.toolName}} || {{item.description}} </button>
</div> -->
<!-- <div class="md-cd-12">
  <div class="md-cd-4" *ngFor="let item of card">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.toolName}}</h5>
        <p class="card-text">{{item.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> -->

<!-- <h2> Cards</h2>
<div class="md-cd-4" *ngFor="let item of card"> 
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{item.toolName}}</mat-card-title> -->
<!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
<!-- </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{item.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button></button>
  </mat-card-actions>
</mat-card>
</div> -->
<!-- <div>
  <h2>Selected Category: {{ selectedCategory }}</h2>
  <div *ngFor="let item of card">
     Render card details here -->
<!-- <div>{{ item.toolName }}</div>
    <div>{{ item.description }}</div>
  </div>
</div> -->


<!-- <div *ngIf="card.length > 0">
  <h2>{{ fetchCard }} Card</h2>
  <ul>
    <li *ngFor="let item of card">
      {{ item.toolName }} , {{ item.description }}</li>
  </ul>
</div> -->
<div class="col-md-12">
  <div class="row">
    <div class="card">
      <ul>
        <li *ngFor="let item of card" class="card">
          <div class="card-header1">
            {{ item.toolName }}
          </div>
          <div class="card-body">
            {{ item.description }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>