

<div *ngFor="let item of card" class="card" >
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ item.toolName }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{item.toolImage}}" >
  <mat-card-content>
    <p>
      {{item.toolDescription}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="{{item.toolWebsiteLink}}" target="_blank">view</a>
  </mat-card-actions>
</mat-card>
</div>
